<table>
  <tr>
    <td id="social" rowspan="3">
      <a href="https://www.facebook.com/SamRyanFurniture"><img src="page_assets/FB-f-Logo__blue_100.png"></a>
      <a href="https://www.pinterest.com/samryanfurnitur/"><img src="page_assets/Pinterest-badge-144px.png"></a>
      <a href="https://uk.linkedin.com/in/sam-ryan-30084815"><img src="page_assets/In-2C-128px-R.png"></a>
    </td>
    <td>Sam Ryan Furniture</td>
  </tr>
  <tr>
    <td>Telephone</td>
    <td>Email</td>
  </tr>
  <tr>
    <td>07814 212 054</td>
    <td>samryan-furniture@hotmail.com</td>
  </tr>
</table>
