<div id="left_sidebar">
  <h3>Furniture portfolio</h3>
  <ul>
    <li class="gallery-chairs">
      <div><a href="gallery-chairs.html">Oak Chair</a></div>
    </li>
    <li class="gallery-tables">
      <div><a href="gallery-tables.html">Cherry Table</a></div>
    </li>
    <li class="gallery-tulip-table">
      <div><a href="gallery-tulip-table.html">Tulip Table</a></div>
    </li>
    <li class="gallery-desks">
      <div><a href="gallery-desks.html">Maple Desk</a></div>
    </li>
    <li class="gallery-display-stands">
      <div><a href="gallery-display-stands.html">Display Stand</a></div>
    </li>
    <li class="gallery-tea-coasters" style="white-space: nowrap;">
      <div><a href="gallery-tea-coasters.html">Meranti Tea Coaster</a></div>
    </li>
    <li class="gallery-cheese-boards">
      <div><a href="gallery-cheese-boards.html">Oak Cheese Board</a></div>
    </li>
    <li class="gallery-plant-holder">
      <div><a href="gallery-plant-holder.html">Tulip Plant Holder</a></div>
    </li>
    <li class="gallery-pine-table">
      <div><a href="gallery-pine-table.html">Reclaimed Rustic Pine Table Top</a></div>
    </li>
  </ul>
</div>
