<div id="left_sidebar">
  <h3>Furniture portfolio</h3>
  <ul>
    <li class="gallery-chairs">
      <a href="gallery-chairs.html">Chairs</a>
    </li>
    <li class="gallery-tables">
      <a href="gallery-tables.html">Tables</a>
    </li>
    <li class="gallery-desks">
      <a href="gallery-desks.html">Desks</a>
    </li>
    <li class="gallery-display-stands">
      <a href="gallery-display-stands.html">Display Stands</a>
    </li>
    <li class="gallery-tea-coasters">
      <a href="gallery-tea-coasters.html">Tea Coasters</a>
    </li>
    <li class="gallery-cheese-boards">
      <a href="gallery-cheese-boards.html">Cheese Boards</a>
    </li>
  </ul>
</div>
