<div id="left_sidebar">
  <ul>
    <li class="chairs">
      <a href="gallery-chairs.html">Chairs</a>
    </li>
    <li class="tables">
      <a href="gallery-tables.html">Tables</a>
    </li>
    <li class="desks">
      <a href="gallery-desks.html">Desks</a>
    </li>
    <li class="display-stands">
      <a href="gallery-display-stands.html">Display Stands</a>
    </li>
    <li class="tea-coasters">
      <a href="gallery-tea-coasters.html">Tea Coasters</a>
    </li>
    <li class="cheese-boards">
      <a href="gallery-cheese-boards.html">Cheese Boards</a>
    </li>
  </ul>
</div>
