<div id="right_sidebar">
  <ul>
<% var images = JSON.parse(images_json_container[page]);
   for (var i = 0, l = images.length; i < l; i++) {
     var image_info = images[i],
         image_url = image_info.link;

     var url_components = image_url.split(".");
     url_components[url_components.length - 2] = url_components[url_components.length - 2] + "t";
     image_thumbnail_url = url_components.join("."); %>
    <li>
      <a href="<%- image_url %>">
        <img src="<%- image_thumbnail_url %>" />
      </a>
    </li>
<% } -%>
  </ul>
</div>
