<div id="header">
  <h3 style="text-align: right; color: #11544B; font-weight: normal; padding-bottom: 0px;">Working in Wood</h3>
  <h1 style="padding-top: 0px; position: relative; top: -20px">Sam Ryan Furniture</h1>
  <h5 style="padding-top: 0px; position: relative; top: -20px">Furniture maker & restorer of fine furniture</h5>
  <div id="nav" style="position: relative; top: -20px;">
    <a href="index.html">welcome</a>
    <a href="furniture_portfolio.html">furniture portfolio</a>
    <a href="restoration_chairs0.html">restoration gallery</a>
    <a href="about.html">about</a>
    <a href="contact.html">contact</a>
  </div>
</div>
