<div id="header">
  <h3 style="text-align: right; color: #11544B; font-weight: normal; padding-bottom: 0px;"></h3>
  <h1 style="padding-top: 0px; position: relative; top: -20px">Sam Ryan Furniture</h1>
  <h5 style="padding-top: 0px; position: relative; top: -20px">Furniture Designer, Maker & Restorer</h5>
  <div id="nav" style="position: relative; top: -20px;">
    <a href="index.html">welcome</a>
    <a href="gallery-chairs.html">furniture gallery</a>
    <a href="restoration_chairs1.html">restoration gallery</a>
    <a href="about.html">about</a>
    <a href="contact.html">contact</a>
  </div>
</div>
