<div id="left_sidebar">
  <h3>Restoration gallery</h3>
  <ul>
    <li class="restoration-chairs">
      <a href="restoration_chairs0.html">Chairs</a>
      <ul>
        <li>
          <a href="restoration_chairs0.html">Gallery 1</a>
        </li>
        <li>
          <a href="restoration_chairs1.html">Gallery 2</a>
        </li>
        <li>
          <a href="restoration_chairs2.html">Gallery 3</a>
        </li>
        <li>
          <a href="restoration_chairs3.html">Gallery 4</a>
        </li>
      </ul>
    </li>
    <li class="restoration-tables">
      <a href="restoration_tables0.html">Tables</a>
    </li>
  </ul>
</div>
