<div id="left_sidebar">
  <h3>Restoration gallery</h3>
  <ul>
    <li class="restoration-chairs">
      <a href="restoration_chairs0.html">Chairs</a>
      <ul>
        <li>
          <a href="restoration_chairs1.html">Ercol Oak Chair</a>
        </li>
        <li>
          <a href="restoration_chairs2.html">Leather Chair</a>
        </li>
        <li>
          <a href="restoration_chairs3.html">Suede Chair</a>
        </li>
        <li>
          <a href="restoration_chairs0.html">Walnut Chair</a>
        </li>
      </ul>
    </li>
    <li class="restoration-tables">
      <a href="restoration_tables0.html">Tables</a>
      <ul>
        <li>
          <a href="restoration_tables0.html">Barley Twist Table</a>
        </li>
        <li>
          <a href="restoration_tables2.html">Barley Twist Table 2</a>
        </li>
        <li>
          <a href="restoration_tables1.html">Oak Pedestal Table</a>
        </li>
        <li>
          <a href="restoration_tables3.html">Oak Coffee Table</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
