<div id="left_sidebar">
  <h3>Restoration gallery</h3>
  <ul>
    <li class="restoration-chairs">
      <a href="restoration_chairs0.html">Chairs</a>
      <ul>
        <li class="gallery-chairs1">
          <div><a href="restoration_chairs1.html">Ercol Oak Chair</a></div>
        </li>
        <li class="gallery-chairs2">
          <div><a href="restoration_chairs2.html">Leather Chair</a></div>
        </li>
        <li class="gallery-chairs3">
          <div><a href="restoration_chairs3.html">Suede Chair</a></div>
        </li>
        <li class="gallery-chairs0">
          <div><a href="restoration_chairs0.html">Walnut Chair</a></div>
        </li>
      </ul>
    </li>
    <li class="restoration-tables">
      <a href="restoration_tables0.html">Tables</a>
      <ul>
        <li class="gallery-tables0">
          <div><a href="restoration_tables0.html">Barley Twist Side Table</a></div>
        </li>
        <li class="gallery-tables2">
          <div><a href="restoration_tables2.html">Barley Twist Occasional Table</a></div>
        </li>
        <li class="gallery-tables1">
          <div><a href="restoration_tables1.html">Oak Pedestal Table</a></div>
        </li>
        <li class="gallery-tables3">
          <div><a href="restoration_tables3.html">Oak Coffee Table</a></div>
        </li>
        <li class="gallery-tables4">
          <div><a href="restoration_tables4.html">Antique Oak Dresser</a></div>
        </li>
        <li class="gallery-tables5">
          <div><a href="restoration_tables5.html">Hand Carved Antique Cedar Chest</a></div>
        </li>
      </ul>
    </li>
  </ul>
</div>
