<style type="text/css">

#right_sidebar {
  width: 61px;
  padding: 0px;
  margin: 0px;
  float: right;
}

#left_sidebar {
  width: 200px;
  float: left;
}

#left_sidebar h3 {
  color: #31948B;
  font-weight: normal;
}

#right_sidebar ul,
#left_sidebar ul
{
  list-style-type: none;
  margin: auto;
  padding: 0px;
}

#right_sidebar ul li a:hover {
  opacity: 0.8;
}

#right_sidebar ul li a img {
  width: 61px;
}

#left_sidebar ul li {
  width: 160px;
}

#left_sidebar ul a,
#left_sidebar ul a:visited
{
  /* width: 135px; */
  height: 20px;
  padding: 3px 4px 0px 4px;
  margin: 0px 0px 8px 0px;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  display: block;
  color: black;
}

.<?php print "$page"; ?>,
#left_sidebar ul a:hover
{
  background-color: #b8b8b8;
}

#display_image {
  display: block;
  margin: auto;
  width: 490px;
}

</style>
